# Dependencies
node_modules/

# Build output
dist/

# Environment files
.env.*

# System files
.DS_Store

# Git files
.github/*

# Amplify
.amplify/
amplify/
amplify_outputs*
amplifyconfiguration*
amplify_outputs.json
amplify/.DS_Store